* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  body {
    background: rgb(49, 55, 101);
    background: linear-gradient(
      135deg,
      rgba(49, 55, 101, 1) 0%,
      rgba(34, 31, 122, 1) 50%,
      rgba(16, 39, 83, 1) 91%
    );

    min-height: 100vh;

    > section {
      margin-top: 30px;
      p {
        text-align: center;
        color: white;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
}
